@import "src/variables.scss";

.user_info{ 
  display: flex;
  align-items: center;  
  margin: 0 -36px 0 auto; 
  padding: 5px; 
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background: rgba(0, 0, 0, 0.3);

  .avatar{ 
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  span.username{ 
    margin-left: 10px;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: 500; 
    color: white;
  }
}

@media (width <= $breakpoint-md){
  .user_info{
    display: none;
  }
}