@import "src/variables.scss";

.profile_action {
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  margin: 20px 0 50px;

  .log_out {
    padding: 12px 50px;
    border: 2px solid $red;
    border-radius: 10px;
    background-color: transparent;
    transition: border-color 200ms linear, color 200ms linear;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: $red;
    cursor: pointer;

    &:hover{
      transition: border-color 200ms linear, color 200ms linear;
      border-bottom-color: $dark-red;
      border-left-color: $dark-red;
      color: $dark-red;
    }
  }
}


@media (width <= $breakpoint-md) {
  .profile_action { 
    margin: 10px 0 30px;
  
    .log_out {
      width: 100%; 
      padding: 8px 20px; 
      border-width: 1px; 
      font-size: 16px; 
    }
  }
}