.tooltip{
  position: absolute;
  bottom: -4px;
  left: 36px;
  background-color: #2a2a2a;
  padding: 6px 15px;
  font-size: 14px;
  border-radius: 8px;
  color: #fff;
  font-family: monospace;
  z-index: 5;
 }